$colorPrincipal: #021b79;
$colorSecundario: rgb(76, 76, 173);
$colorTerciario: Arial;
$medidaFuente: 80px;
$colorLetra: rgb(236, 243, 243);
$color: mauro;
$medidaCaja: 80px;
$alturaFuente: 15px;
$redSocial:(
    facebook: $colorPrincipal,
    youtube: red,
    instagram: orange,
)